<!-- detalhes_medico.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Familiar</title>
    <link rel="stylesheet" href="{% static 'css/detalhes.css' %}">
</head>
<body>
    <h1>Detalhes do Familiar</h1>

    <p>Nome: {{ familiar.nome }}</p>
    <p>Idade: {{ familiar.idade }}</p>
    <p>Sexo: {{ familiar.get_sexo_display }}</p>
    <p>Número de Saúde: {{ familiar.numSaude }}</p>
    <p>Email: {{ familiar.email }}</p>
    <p>Relação: {{familiar.relacao}} </p>
    <p>
        <strong>Utente Associado:</strong>
        <a href="{{ familiar.get_utente_url }}">{{ familiar.id_associado }}</a>
    </p>
    <!-- Familiar Associado: {{familiar.get_id_associado_display}}  meter um link para ver as info do Utente associado-->
    <!-- Adicione outros campos conforme necessário -->

    {% if user.tipo == 'M' %}
        <a href="{% url 'listar_familiares' %}">Voltar para a Lista de Familiares</a>
    {% elif user.tipo == 'F' %}
        <a href="{% url 'home_familiar' %}">Home Page</a>
    {% endif %}
</body>
</html>