<!-- templates/home.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home_utente.css' %}">
</head>
<body>

    <div class="header">

        <button class="site-name" onclick="window.location.href='{% url 'home_utente' %}'"> 
            Home Page 
        </button>

        <div class="right-side">
            <button class="headerBut" onclick="window.location.href='{% url 'detalhes_utente' utente_id %}'">Sobre mim</button>
            <button class="headerBut" onclick="window.location.href='{% url 'home' %}'">Logout</button>
        </div>
    </div>


    <div class="main-content">

        <div class="texto">
            <h1>Bem vindo, {{ nome_utilizador }} </h1>
        </div>

        <div class="botoes">
            <button class="botao1" onclick="window.location.href='{% url 'listar_consultas' %}'"> Ver Consultas </button>   
        
            <button class="botao2" onclick="window.location.href='{% url 'listar_exames' %}'"> Ver Exames </button>  
            
            <button class="botao3" onclick="window.location.href='{% url 'listar_parametros' %}'"> Ver Parâmetros </button>   
        
            <button class="botao4" onclick="window.location.href='{% url 'listar_prescricoes' %}'"> Ver Prescrições </button> 
        
    </div>
</body>

</html>



