<!-- listar_utentes.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Prescrições</title>
    <link rel="stylesheet" href="{% static 'css/detalhes.css' %}">
</head>
<body>
    <h1>Listar Prescrições</h1>

    <ul>
        {% for prescricao in prescricoes %}
            <li> Data: {{ prescricao.data_prescricao}} || Utente: {{ prescricao.utente.nome}} - <a href="{% url 'detalhes_consulta' prescricao.consulta.id %}">Detalhes</a></li>
        {% endfor %}
    </ul>

</body>
</html>